{% extends 'base.html' %}
{% block title %}
Shopping Cart
{%endblock%}

{% block content %}
<table class="site-table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price }}</td>
            </tr>
        {%endfor%}
        <tr>
            <th>Total</th>
            <td>{{ price }}</td>
        </tr>
    </tbody>
</table>
{%endblock%}